/* TODO: responsive design */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#header-container::after {
  content: none;
}

main {
  margin-top: 4rem;
  max-width: min(800px, 60vw);
}

footer {
  margin-top: 0;
}

#slideshow {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--accent-bg);
  border-radius: 1.5rem;
  box-sizing: border-box;
  padding: 0.5rem;
}

#slideshow-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
  padding: 0.5rem;
  list-style: none;
}

#slideshow-nav a {
  display: inline-block;
  border-radius: 50%;
  padding: calc(0.5rem + 0.5vmin);
  width: calc(1rem + 1vmin);
  height: calc(1rem + 1vmin);
  background-color: var(--bg);
  text-align: center;
}

#slideshow-nav a:hover {
  background-color: var(--bg-hover);
}

#slideshow-nav img {
  vertical-align: baseline;
  filter: brightness(var(--brightness, 1));
}

:has(#machine-learning:target) #slideshow-nav a[href="#machine-learning"],
:has(#medicine:target) #slideshow-nav a[href="#medicine"],
:has(#modelling-3d:target) #slideshow-nav a[href="#modelling-3d"],
:has(#supercomputers:target) #slideshow-nav a[href="#supercomputers"],
:has(#data-science:target) #slideshow-nav a[href="#data-science"],
:has(#quantum-computing:target) #slideshow-nav a[href="#quantum-computing"],
:has(#bioinformatics:target) #slideshow-nav a[href="#bioinformatics"] {
  background-color: #412d24;
  --brightness: 10; /* A hack to make the active slide icon white */
}

#slide-container {
  display: grid;
  background-color: var(--bg);
  border-radius: 1rem 1rem 0.2rem 0.2rem;
  padding: 2rem;
  overflow: hidden;
}

#slide-container > article {
  margin-block: 0;
}

.slide {
  grid-area: 1 / 1; /* Make all slides occupy the same grid area
                       to overlay them while preserving container height */

  transition: opacity ease-in-out 200ms;
}

:not(:has(.slide:target)) #intro {
  opacity: 1;
  pointer-events: unset;
  user-select: unset;
}

.slide:not(:target) {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

#intro a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  user-select: none;
  transition: transform 100ms ease-in-out;
}

#intro a:hover {
  transform: scale(1.1);
}
