/* Use an additional wrapper to make the header occlude
   main content with a white-to-transparent gradient */
#header-container {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--bg);
}

#header-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  width: 100%;
  height: 4rem;
  background-image: linear-gradient(var(--bg), transparent);
}

header {
  anchor-name: --header;
  display: grid;
  grid-template-columns: 4.4rem 1fr 4.4rem;
  gap: 1rem;
  width: 40rem;
  min-width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
  margin: auto;
  color: var(--accent-fg-secondary);
  text-align: center;
}

header .ui {
  background-color: var(--accent-bg);
}

header .ui,
nav {
  padding: 0.6rem 1.2rem;
  border-radius: 1.2rem;
  border: none;
  outline: none;
}

#title-bar {
  display: flex;
  gap: 0.4rem;
}

#title-bar h1 {
  flex: auto;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

#title-bar a {
  transition: margin 100ms ease-in-out, padding 100ms ease-in-out,
    border-radius 100ms ease-in-out;
}

#title-bar:has(a:last-child) h1,
#title-bar a:first-child {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

#title-bar:has(a:first-child) h1,
#title-bar a:last-child {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

/* Merge navigation button with title on hover */

#title-bar:has(a:last-child:hover) h1,
#title-bar a:first-child:hover {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#title-bar:has(a:first-child:hover) h1,
#title-bar a:last-child:hover {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#title-bar a:first-child:hover {
  margin-right: -0.4rem;
  padding-left: 1.4rem;
}

#title-bar a:last-child:hover {
  margin-left: -0.4rem;
  padding-right: 1.4rem;
}
