/* Use an additional wrapper to make the header occlude
   main content with a white-to-transparent gradient */
#header-container {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: white;
}

#header-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  width: 100%;
  height: 4rem;
  background-image: linear-gradient(white, transparent);
}

header {
  anchor-name: --header;
  display: grid;
  grid-template-columns: 4rem auto 4rem;
  gap: 2rem;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
  margin: auto;
}

header,
nav {
  padding: 0.6rem 1.2rem;
  border-radius: 1.2rem;
  background-color: #eee;
  color: #2e2e2e;
  border: none;
  outline: none;
}

header > div {
  align-content: center;
}

header > * {
  text-align: center;
}

header h1 {
  margin: 0;
}

#nav-toggle {
  background: transparent;
  border: none;
  padding: 0;
}
