nav {
  display: block;
  inset: unset;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin: 0;
  color: var(--accent-fg);
  background-color: var(--accent-bg-secondary);
  user-select: none;
  transition: transform 200ms ease-in-out, opacity 200ms linear;
}

nav:not(:popover-open) {
  opacity: 0;
  transform: scale(0);
}

nav:popover-open {
  opacity: 1;
  transform: scale(1);
}

@supports (position-anchor: --header) {
  nav {
    position-anchor: --header;
    right: anchor(right);
    top: calc(anchor(bottom) + 8px);
    transform-origin: calc(100% - 1.2rem - 32px / 2) 0;
  }
}

@supports not (position-anchor: --header) {
  nav {
    top: calc(8px + 4rem);
    left: 50%;
    translate: -50% 0;
    transform-origin: 50% 0;
  }
}

nav menu {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0;
  margin: 0;
}

nav * menu {
  padding-left: 1.6rem;
}

nav [aria-current="page"] {
  background-color: var(--accent-bg-active) !important;
  font-weight: 600;
}

nav li {
  list-style-type: none;
}

nav a {
  display: inline-block;
  width: 100%;
}

nav details {
  border-radius: 0;
}

nav a,
nav summary {
  box-sizing: border-box;
  padding: 0.4rem 0.8em;
  border-radius: 0.4rem;
  background-color: var(--accent-bg);
  color: inherit;
}

nav a:hover {
  background-color: var(--accent-bg-hover);
}

nav summary::after {
  content: "";
  display: block;
  height: 1.2em;
  width: 1.2em;
  float: right;
  margin-left: 0.8rem;
  background-image: url(../../../static/img/disclosure.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

nav details[open] > summary::after {
  transform: rotate(-180deg);
}

/* Make the content of closed <details> elements visible, but 0-height to
   reserve horizontal space even when the element is not open,
   so that the nav doesn't flicker when user opens submenus */
nav ::details-content {
  content-visibility: visible;
  overflow: hidden;
}

nav details[open] > summary {
  margin-bottom: 0.4rem;
}

@supports (interpolate-size: allow-keywords) {
  nav summary::after {
    transition: transform 200ms ease-in-out;
  }

  nav ::details-content {
    interpolate-size: allow-keywords;
    transform-origin: 50% 0;
    transition: transform 200ms ease-in-out, height 200ms ease-in-out,
      padding-top 200ms ease-in-out, opacity 200ms linear;
  }

  nav details:not([open])::details-content {
    padding-top: 0;
    transform: scaleY(0);
    height: 0;
    opacity: 0;
  }

  nav details[open]::details-content {
    transform: scaleY(1);
    height: auto;
    opacity: 1;
  }
}

@supports not (interpolate-size: allow-keywords) {
  nav details:not([open])::details-content {
    height: 0;
  }
}
