/* Common styles for HTML elements */

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

:root {
  font-family: "Geologica", sans-serif;
}

body {
  margin: 0;
}

a {
  align-content: center;
  text-decoration: none;
}

button,
summary {
  cursor: pointer;
}

a:hover,
button:hover,
summary:hover {
  filter: brightness(1.2);
}

[aria-current] {
  filter: brightness(0.9);
  font-weight: bold;
}

img {
  user-select: none;
  vertical-align: middle;
}

main {
  max-width: 60vw;
  margin: auto;
}

footer {
  margin: auto;
  margin-top: 8rem;
  max-width: 40vw;
  text-align: center;
}

.frame {
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  background-color: #eee;
}

.frame > p:first-child {
  margin-top: 0;
}

.frame > p:last-child {
  margin-bottom: 0;
}

.button {
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  background-color: #222;
  color: #eee;
}
