/* Common styles for HTML elements */

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

:root {
  font-family: "Geologica", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
}

a {
  align-content: center;
  text-decoration: inherit;
  color: inherit;
}

button,
summary {
  cursor: pointer;
}

img {
  user-select: none;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

main {
  max-width: 60vw;
  margin: auto;
}

footer {
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 0;
  max-width: 40vw;
  text-align: center;
}

@media screen and (max-width: 40rem) {
  footer {
    width: min-content;
    max-width: none;
  }
}

article {
  margin-block: 2.5em;
}

h1,
h2 {
  text-align: center;
}

hr {
  width: 100%;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 2px;
  color: inherit;
}

p + :is(ul, ol) {
  margin-block-start: 0;
}

p:has(+ :is(ul, ol)) {
  margin-block-end: 0;
}

/* TODO: use container queries to detect when
   figcaption is too big and place it under the image */
figure {
  position: relative;
  width: min-content;
  height: min-content;
}

figcaption {
  background-color: #fff8;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em;
  padding: 0.4em 0.8em;
  border-radius: 0.8em;
  text-align: center;
}

figure > img {
  width: 100%;
  border-radius: 1.2em;
  border: 2px solid var(--fg);
}

blockquote {
  font-style: italic;
}

math {
  font-size: 1.25rem;
}

math[display="block"] {
  overflow: auto hidden;
  margin-block: 0.5em;
}

mtext {
  font-size: 1rem;
  font-family: "Geologica", sans-serif;
  width: max-content;
}

input {
  font: inherit;
  outline: none;
  border: 1px solid var(--fg);
  border-radius: 0.4em;
  transition: border-color ease-in-out 120ms;
  padding: 0.2em 0.4em;
  margin: 1px;
}

input.inline {
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
}

input:focus {
  border-color: var(--fg-secondary);
}

button {
  font: inherit;
  padding: 0.6em 1.8em;
  border-radius: 1.2em;
  border: none;
  background-color: var(--dark-bg);
  color: var(--dark-fg);
}

button:hover {
  background-color: var(--dark-bg-hover);
}

button:active {
  background-color: var(--dark-bg-active);
}

details {
  border-radius: 1rem;
  overflow: hidden;
}

summary {
  padding: 1rem 1.2rem;
  background-color: var(--accent-bg-secondary);
  list-style-type: none;
}

summary::after {
  content: "";
  display: block;
  height: 1.2em;
  width: 1.2em;
  float: right;
  margin-left: 0.8rem;
  background-image: url(/static/img/disclosure.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

summary:hover {
  background-color: var(--accent-bg-hover);
}

/* :open is not supported in Safari */
details[open] > summary::after {
  transform: rotate(-180deg);
}

/* Make the content of closed <details> elements visible, but zero-height
   to reserve horizontal space even when the element is not open,
   so that layout shifts don't happen when user opens <details> elements */
::details-content {
  content-visibility: visible;
  overflow: hidden;
}

@supports (interpolate-size: allow-keywords) {
  summary::after {
    transition: transform 200ms ease-in-out;
  }

  ::details-content {
    interpolate-size: allow-keywords;
    transition: height 200ms ease-in-out;
  }

  details:not([open])::details-content {
    padding-top: 0;
    height: 0;
  }

  details[open]::details-content {
    height: auto;
  }
}

@supports not (interpolate-size: allow-keywords) {
  details:not([open])::details-content {
    height: 0;
  }
}

fieldset {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  gap: 0.2em 0.4em;
}

fieldset input {
  width: 100%;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-block: 1em;
}

.flex > * {
  margin: 0;
}

.column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.rounded {
  border-radius: 1.2em;
}

.frame {
  padding: 1em 1.2em;
  border-radius: 0.6em;
  background-color: var(--accent-bg);
}

.frame > :first-child {
  margin-top: 0;
}

.frame > :last-child {
  margin-bottom: 0;
}

.info {
  padding-left: 1em;
  border-left: 4px solid var(--fg);
}
