/* Common styles for HTML elements */

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

:root {
  font-family: "Geologica", sans-serif;
}

body {
  margin: 0;
}

a {
  align-content: center;
  text-decoration: none;
}

button,
summary {
  cursor: pointer;
}

a:hover,
button:hover,
summary:hover {
  filter: brightness(1.2);
}

[aria-current] {
  filter: brightness(0.9);
  font-weight: bold;
}

img {
  user-select: none;
  vertical-align: middle;
}

main {
  max-width: 60vw;
  margin: auto;
}

footer {
  margin: auto;
  margin-top: 8rem;
  max-width: 40vw;
  text-align: center;
}

article {
  margin-block: 2.5em;
}

h1,
h2 {
  text-align: center;
}

figure {
  position: relative;
}

figcaption {
  background-color: #fff8;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em;
  padding: 0.4em 0.8em;
  border-radius: 0.8em;
  text-align: center;
}

figure > img {
  width: 100%;
  border-radius: 1.2em;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 0 1em;
  margin-block: 1em;
}

.flex-row-reverse > * {
  margin: 0;
}

.frame {
  padding: 1em 1.2em;
  border-radius: 0.6em;
  background-color: #eee;
}

.frame > p:first-child {
  margin-top: 0;
}

.frame > p:last-child {
  margin-bottom: 0;
}

.info {
  padding-left: 1em;
  border-left: 4px solid black;
}

.button {
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  background-color: #222;
  color: #eee;
}
