#map-container {
  position: relative;
}

#map {
  margin-block-start: 2em;
}

.map-item {
  border: 1px black none;
}

.map-item > button {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
  background: transparent;
  border: none;
  outline: none;
}

.map-info {
  z-index: 1;
  width: 400px;
  max-width: 90vw;
  max-height: 90vh;
  margin: auto;
  box-sizing: border-box;
  border: none;
  background-color: var(--accent-bg);
  border-radius: 2rem;
  padding: 1rem 2rem;
}

.map-info-close {
  float: right;
  margin-block: 0.92em;
  padding: 0.5em;
  width: 16px;
  height: 16px;
  box-sizing: content-box;
  background-color: var(--accent-bg-secondary);
  border: none;
  border-radius: 50%;
}

.map-info-close > img {
  vertical-align: baseline;
}

.map-item img {
  transition: transform 100ms ease-in-out;
}

.map-item:hover img {
  transform: scale(1.05);
}

@media screen and (min-width: 800px) {
  #map {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  #map-china {
    grid-column: 1 / span 6;
    border-style: none solid solid none;
  }

  #map-greece {
    grid-column: 7 / span 6;
    border-style: none none solid solid;
  }

  #map-egypt {
    grid-column: 1 / span 4;
    border-style: solid solid none none;
  }

  #map-india {
    grid-column: 5 / span 4;
    border-style: solid solid none solid;
  }

  #map-babylonia {
    grid-column: 9 / span 4;
    border-style: solid none none solid;
  }
}

@media screen and (max-width: 800px) {
  #map {
    display: flex;
    flex-direction: column;
  }

  #map .map-item:not(:first-child) {
    border-top-style: solid;
  }

  #map .map-item:not(:last-child) {
    border-bottom-style: solid;
  }
}
