#scientists {
  display: grid;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

#scientists li::marker {
  content: "";
}

#scientists img {
  border-radius: 1em;
}

#scientists span {
  display: block;
  text-align: center;
  margin-block: 0.5em;
  font-size: calc(0.5rem + 2.5vmin);
}

@media screen and (min-width: 600px) {
  #scientists {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  #scientists {
    grid-template-columns: repeat(3, 1fr);
  }
}
