/*#scientists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 2rem;
}

#scientists > div {
  position: relative;
  height: 100%;
}

#scientists > div > span {
  position: absolute;
  top: 0;
  left: 0;
}

.scientist-photos {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}

.scientist-photos > img {
  height: 100%;
}*/

#scientists {
  display: grid;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

#scientists li::marker {
  content: "";
}

#scientists span {
  display: block;
  text-align: center;
  margin-block: 0.5em;
  font-size: calc(0.5rem + 2.5vmin);
}

@media screen and (min-width: 600px) {
  #scientists {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  #scientists {
    grid-template-columns: repeat(3, 1fr);
  }
}
